.projects {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: var(--max-width);
  padding-top: 10px;
}

@media (width >= 768px) {
  .projects {
    gap: 60px;
  }
}
