.button {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 10px 12px;

  border: 2px solid var(--color-violet);
  border-radius: 30px;

  background-color: transparent;

  transition: all 300ms ease-out;
}

.buttonActive {
  color: var(--color-white);

  background-color: var(--color-violet);
}

@media (width >= 768px) {
  .button {
    padding: 15px 20px;
  }
}

.arrow path {
  fill: var(--color-violet);

  transition: fill 300ms ease-out;
}

@media (hover: hover) {
  .button {
    &:hover {
      &:enabled {
        color: var(--color-lavender);

        box-shadow: var(--shadow-lavender);

        transition: all 300ms ease-out;

        & .arrow path {
          fill: var(--color-lavender);

          transition: fill 300ms ease-out;
        }
      }
    }

    &:focus {
      outline: none;

      box-shadow: var(--shadow-lavender);
    }

    &:active {
      border: 2px solid var(--color-lavender);
    }

    &:active .arrow path {
      fill: var(--color-lavender);

      transition: fill 300ms ease-out;
    }
  }
}
