.projectsAbout {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 0 10px 10px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.link {
  transition: color 300ms ease-out;
}

.featuresContainer {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;

  text-align: center;
}

.feature {
  display: none;

  opacity: 0;
}

@media (width >= 768px) {
  .feature {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px 14px;

    line-height: 100%;
    text-align: center;

    border: 2px solid var(--color-violet);
    border-radius: 30px;

    opacity: 1;
  }
}
