.sliderAbout {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  // color: red;
}

.textContainer {
  // width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.link {
  transition: color 300ms ease-out;
}

.featuresContainer {
  // width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  text-align: center;
}

.feature {
  display: none;
  opacity: 0;
}

@media (min-width: 768px) {
  .feature {
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: center;
    padding: 10px 14px;
    border-radius: 30px;
    border: 2px solid var(--color-violet);
    text-align: center;
    line-height: 100%;
  }
}
