.questions {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;
  height: 100%;
  max-width: var(--container-width);
  padding-top: 20px;
}

.title {
  align-self: center;

  text-align: center;
}

@media (width >= 768px) {
  .questions {
    padding-top: 40px;
  }
}
