.questions {
  width: 100%;
  max-width: var(--container-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  padding: 40px 10px 0px;
}

.title {
  text-align: center;
  align-self: center;
}

@media (min-width: 768px) {
  .questions {
    gap: 20px;
  }
}
