.mySwiper {
  width: 100%;
  // max-width: 100%;
  // aspect-ratio: 1;
}

.sliderContainer {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.customPrev,
.customNext {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 99;
  width: 44px;
  height: 44px;
}

.customPrev {
  left: 20px;
  background: url("../../../public/images/arrow_left.svg") no-repeat
    center/cover;
}

.customNext {
  right: 20px;
  background: url("../../../public/images/arrow_right.svg") no-repeat
    center/cover;
}

.disabled {
  opacity: 0.3;
}

@media (min-width: 1024px) {
  .customPrev,
  .customNext {
    width: 69px;
    height: 69px;
  }
}
