.welcomeSlider {
  display: grid;
  grid-template-rows: 1fr auto;

  width: 100%;
  height: 100%;
  max-width: var(--max-width);

  // background-color: #39493c;
}

@media (width >= 1024px) {
  .welcomeSlider {
    min-height: calc(100vh - 70px);
    max-height: calc(100vh - 70px);
  }
}
