.social {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.socialLink {
  height: 25px;
  min-width: 25px;
  max-width: 30px;
}

.socialImg path {
  width: auto;
  height: 100%;

  fill: var(--color-violet);

  transition: fill 300ms ease-out;
}

@media (hover: hover) {
  .socialLink:hover .socialImg path {
    fill: var(--color-lavender);

    transition: fill 300ms ease-out;
  }
}
