.navigationFooter {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  max-width: 600px;
}

.link {
  text-align: center;
  transition: all 300ms ease-out;
}
