.about {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 10px 10px 0;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.topContainer {
  z-index: 1;

  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;

  max-width: 795px;

  text-align: center;
}

.bottomContainer {
  position: relative;

  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: flex-start;

  width: 100%;
  height: 100%;
  max-width: 926px;
  min-height: 200px;
}

.roundElementContainer {
  position: absolute;

  display: flex;

  width: 100%;
  height: 100%;
}

.figure2Img,
.figure3Img {
  position: absolute;
  top: 0;
  z-index: -1;

  height: auto;
  max-width: 700px;
}

.figure2Img {
  left: 0;
  left: -250px;
}

.figure3Img {
  right: 0;
}

.imageContainer {
  display: none;
}

@media (width >= 768px) {
  .aboutContainer {
    gap: 60px;
  }

  .topContainer {
    gap: 60px;
  }

  .bottomContainer {
    min-height: 274px;
  }

  .imageContainer {
    position: absolute;
    top: 0;
    left: 50% - var(--container-width);

    display: block;

    width: var(--container-width);
    height: 100%;

    &::before {
      position: absolute;
      top: 0;
      left: -250px;
      content: "";

      width: 100%;
      height: 100%;
      max-width: 700px;
      max-height: 700px;

      background: url("../../../public/images/figure2.png") center/cover
        no-repeat;
    }

    &::after {
      position: absolute;
      top: 0;
      right: -250px;
      content: "";

      width: 100%;
      height: 100%;
      max-width: 700px;
      max-height: 700px;

      background: url("../../../public/images/figure3.png") center/cover
        no-repeat;
    }
  }
}

@media (width >= 1024px) {
  .about {
    padding: 10px 20px 0;
  }
}
