* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font: inherit;
}

body {
  font-family: "Gilroy", system-ui, sans-serif; /* Основной шрифт */
  font-weight: 300;
  color: var(--color-white);
  min-height: 100dvh;

  //--------------------
  display: grid;
  width: 100%;
  grid-template-rows: 1fr auto; //header is absolute
  background-color: var(--color-gray);
}

html {
  hanging-punctuation: first last;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  text-wrap: balance;
}

a,
input {
  color: inherit;
  text-decoration: none;
}

p {
  text-wrap: pretty;
}

ul,
li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
  color: inherit;
  &:disabled {
    color: rgba(255, 255, 255, 0.3);
  }
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
a {
  color: inherit;
  &:focus {
    outline: 1px dotted var(--color-lavender);
  }
}

button {
  &:focus {
    outline: 1px dotted var(--color-lavender);
  }
}

@media (hover: hover) {
  a {
    &:hover {
      color: var(--color-lavender);
      transition: all 300ms ease-out;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

//* customGlobalStyles

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 16px;
  font-weight: 400;
}

p,
button,
input,
ul,
li {
  font-size: 14px;
  font-weight: 300;
  line-height: 146%;
}

span {
  font-size: 12px;
  font-weight: 300;
}

#about,
#contacts,
#projects,
#welcome,
#feedback {
  scroll-margin-top: 60px;
}

@media (min-width: 768px) {
  #about,
  #contacts,
  #projects,
  #welcome,
  #feedback {
    scroll-margin-top: 100px;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 24px;
  }

  p,
  button,
  input,
  ul,
  li {
    font-size: 17px;
  }

  span {
    font-size: 16px;
  }
}

@media (min-width: 1024px) {
  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 30px;
  }

  p,
  button,
  input,
  ul,
  li {
    font-size: 18px;
  }

  span {
    font-size: 16px;
  }
}
