.roundElement {
  --width-small: 44px;
  --width-medium: 54px;
  --width-large: 64px;
  --width-extra-large: 74px;
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4px;

  font-size: inherit;
  text-align: center;

  border: 2px solid var(--color-violet);
  border-radius: 50%;
  aspect-ratio: 1;
}

.small {
  width: var(--width-small);
}

.medium {
  width: var(--width-medium);
}

.large {
  width: var(--width-large);
}

.extraLarge {
  width: var(--width-extra-large);
}

.roundElement:nth-child(1) {
  top: 0;
  left: 0;
}

.roundElement:nth-child(2) {
  top: calc(33% - var(--width-medium) / 2);
  left: calc(17% - var(--width-medium) / 2);
}

.roundElement:nth-child(3) {
  top: calc(58% - var(--width-large) / 2);
  left: calc(32% - var(--width-large) / 2);
}

.roundElement:nth-child(4) {
  left: calc(50% - var(--width-extra-large) / 2);
  bottom: 0;
}

.roundElement:nth-child(5) {
  top: calc(58% - var(--width-large) / 2);
  left: calc(68% - var(--width-large) / 2);
}

.roundElement:nth-child(6) {
  top: calc(33% - var(--width-medium) / 2);
  left: calc(83% - var(--width-medium) / 2);
}

.roundElement:nth-child(7) {
  top: 0;
  right: 0;
}

@media (width >= 768px) {
  .roundElement {
    --width-small: 72px;
    --width-medium: 88px;
    --width-large: 100px;
    --width-extra-large: 120px;
  }
}
