.burgerMenu {
  position: fixed;
  width: 100vw;
  height: calc(100% - 60px);
  top: 60px;
  left: 0;
  transform: translateX(100%);
  transition: transform 200ms ease-out;

  &.active {
    transform: translateX(0);
  }
}

.background {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(2px);
  position: absolute;
}

.content {
  position: absolute;
  top: 0;
  right: 0;
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
  padding: 20px;
  padding-top: 80px;
  background-color: var(--color-gray);
  transform: translateX(100%);
  transition: transform 400ms ease-out;

  &.active {
    transform: translateX(0);
    transition: transform 400ms ease-out;
  }
}

.navList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}

.contactsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
}
