.footer {
  background-color: var(--color-gray);

  box-shadow: var(--shadow-top);
}

.footerContainer {
  display: flex;
  gap: 60px;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  padding: 10px 0;
}

@media (width >= 768px) {
  .footerContainer {
    justify-content: center;

    padding: 15px 0;
  }
}
