:root {
  --max-width: 1920px;
  --container-width: 1620px;

  // color

  --color-gray: #232323;
  --color-white: #ffffff;
  --color-violet: #b061ff;
  --color-lavender: #d3a7ff;
  --color-red: #f03a22;

  // shadow

  --shadow-top: 0px -4px 44px rgb(0 0 0 / 25%);
  --shadow-bottom: 0px 4px 44px rgb(0 0 0 / 25%);
  --shadow-lavender: 0px 1px 8px var(--color-lavender);

  //breakpoints

  --sm: 425;
  --md: 768px;
  --lg: 1024px;
  --xl: 1300px;
  --xxl: 1600px;
}
