.sliderTest3 {
  width: 100%;
  height: 100%;
}

.slideContainer {
  width: 100%;
  height: 100%;
  //   padding-bottom: 50%;
  //   aspect-ratio: 2 / 1;
  //   //   max-width: 100%;
  display: grid;
  position: relative;
  //   gap: 20px;
  //   & img {
  //     position: absolute;
  //     width: 100%;
  //     height: auto;
  //   }
}
